 .img1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1200px;
    height: 400px;
 }
 .img2{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.link1{
   text-align: center;
}